In [25]:
from data_preprocessing_lib import (
    MissingValueHandler,
    OutlierHandler,
    Scaler,
    TextCleaner,
    FeatureEngineer,
    DataTypeConverter,
    CategoricalEncoder,
    DateTimeHandler,
    DataFrameLoader,
    DataSorter,
    DataFrameModifier,
    ChangingValue
    )
import pandas as pd

data= DataFrameLoader.read_csv('synthetic_sample_data_minimal.csv') #get the data frame

data_2 = DataFrameLoader.read_csv('airlines.csv') #get the data frame

data_3 = DataFrameLoader.read_csv('synthetic_sample_data.csv') #get the data frame

data

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular
0,TOYHANVUR,Horror,07/07/1985,9.750176,A group of college students get more than they...,New York,1.035408e+07,2,1
1,CORCILSLF,Documentary,05/08/1999,7.912876,A documentary that sheds light on the devastat...,Paris,NaN,1,1
2,UBWUVIHEL,Adventure,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,Sydney,5.601372e+07,0,0
3,CGHMHKJHH,Fantasy,21/07/2018,8.811783,A young inventor builds a time machine and emb...,Paris,4.422451e+06,1,1
4,WMLWHTAMN,Fantasy,28/10/2011,5.250991,A young inventor builds a time machine and emb...,Sydney,NaN,0,0
5,REKCPGLOJ,Comedy,04/06/2013,8.676586,A heartwarming story about a dog who brings tw...,Los Angeles,2.406163e+07,2,1
6,GSDOQQRPD,Western,25/12/1995,9.191819,This historical drama explores the pivotal eve...,Toronto,NaN,0,0
7,VMIYHZNZJ,Adventure,23/03/2018,9.459478,In a post-apocalyptic world overrun by zombies...,Los Angeles,4.683286e+07,1,0
8,XVHGPYBBL,Mystery,19/06/2002,9.125866,When a series of strange events plague a small...,New York,6.987464e+07,0,0
9,NNZFDYZTH,History,16/02/2019,9.232197,A group of musicians from different background...,Tokyo,4.018517e+07,1,0
10,VZTEXQGBB,Comedy,22/01/2018,8.912548,"A talented chef travels the world, collecting ...",Paris,8.471490e+07,1,0
11,XSPIAJYJM,Fantasy,19/11/1985,8.561358,A team of explorers ventures into the depths o...,Sydney,2.832553e+06,2,0
12,VFXKEREAP,Fantasy,29/07/1992,7.742613,A team of explorers ventures into the depths o...,Toronto,8.128408e+07,1,1
13,MCCASXIDK,Crime,26/12/2003,9.727619,A young woman discovers she possesses magical ...,Toronto,2.350500e+04,1,0
14,MTUOJCLUA,Horror,03/03/1989,6.913383,A group of teenagers explore a seemingly aband...,Sydney,3.267364e+06,0,0
15,DBQTOTADE,Drama,23/10/1990,8.276999,A heartwarming animated film that teaches valu...,Los Angeles,7.550006e+07,1,1
16,TKBEDDCMZ,Thriller,26/06/2009,7.591583,A group of college students get more than they...,Sydney,4.658762e+07,0,0
17,CDRJDLRCH,History,14/12/2005,9.603778,A group of musicians from different background...,Paris,1.394423e+06,2,1
18,WWAZEJQVI,Drama,12/08/1995,9.801080,A documentary film that sheds light on a socia...,Tokyo,9.737322e+06,2,0
19,IDFPFANWC,Fantasy,20/11/2015,9.227341,A team of explorers ventures into the depths o...,Paris,1.290734e+07,2,1
20,QTIYFBNML,Documentary,02/08/2005,7.858370,This documentary explores the cutthroat world ...,Tokyo,3.478010e+07,1,0
21,RQMTIJYHD,Documentary,15/08/1997,5.395632,A historical drama depicting a pivotal moment ...,Tokyo,8.351821e+07,0,0
22,GEGWEHHWS,Thriller,06/12/2001,8.336223,"In a world ruled by machines, a lone rebel fig...",London,3.610468e+07,1,0
23,QSUPSGILT,Sports,04/02/2002,7.216878,A suspenseful horror film that will leave you ...,New York,5.739973e+07,0,0
24,HOQMJQXBM,Science Fiction,02/11/1991,9.397201,A heartwarming romantic comedy about two peopl...,Paris,8.872575e+07,1,0
25,AAVHOBMRH,Comedy,02/12/1991,9.852601,A heartwarming story about a dog who brings tw...,Tokyo,2.925571e+07,2,0
26,AJGYZAZPD,Comedy,18/09/1991,9.090585,A bumbling office worker accidentally becomes ...,Paris,NaN,2,0
27,DXEFEMEGB,Fantasy,25/01/1993,9.592543,A group of social media influencers trapped on...,Los Angeles,7.847867e+07,2,0
28,ZZIBKYJID,Thriller,02/05/2019,5.720490,A suspenseful thriller about a family trapped ...,New York,NaN,0,0

In [26]:
test_1 = MissingValueHandler.delete_missing(data, columns=['Budget in USD'])#delete the rows that has a missing data in specific column
test_1

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular
0,TOYHANVUR,Horror,07/07/1985,9.750176,A group of college students get more than they...,New York,1.035408e+07,2,1
2,UBWUVIHEL,Adventure,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,Sydney,5.601372e+07,0,0
3,CGHMHKJHH,Fantasy,21/07/2018,8.811783,A young inventor builds a time machine and emb...,Paris,4.422451e+06,1,1
5,REKCPGLOJ,Comedy,04/06/2013,8.676586,A heartwarming story about a dog who brings tw...,Los Angeles,2.406163e+07,2,1
7,VMIYHZNZJ,Adventure,23/03/2018,9.459478,In a post-apocalyptic world overrun by zombies...,Los Angeles,4.683286e+07,1,0
8,XVHGPYBBL,Mystery,19/06/2002,9.125866,When a series of strange events plague a small...,New York,6.987464e+07,0,0
9,NNZFDYZTH,History,16/02/2019,9.232197,A group of musicians from different background...,Tokyo,4.018517e+07,1,0
10,VZTEXQGBB,Comedy,22/01/2018,8.912548,"A talented chef travels the world, collecting ...",Paris,8.471490e+07,1,0
11,XSPIAJYJM,Fantasy,19/11/1985,8.561358,A team of explorers ventures into the depths o...,Sydney,2.832553e+06,2,0
12,VFXKEREAP,Fantasy,29/07/1992,7.742613,A team of explorers ventures into the depths o...,Toronto,8.128408e+07,1,1
13,MCCASXIDK,Crime,26/12/2003,9.727619,A young woman discovers she possesses magical ...,Toronto,2.350500e+04,1,0
14,MTUOJCLUA,Horror,03/03/1989,6.913383,A group of teenagers explore a seemingly aband...,Sydney,3.267364e+06,0,0
15,DBQTOTADE,Drama,23/10/1990,8.276999,A heartwarming animated film that teaches valu...,Los Angeles,7.550006e+07,1,1
16,TKBEDDCMZ,Thriller,26/06/2009,7.591583,A group of college students get more than they...,Sydney,4.658762e+07,0,0
17,CDRJDLRCH,History,14/12/2005,9.603778,A group of musicians from different background...,Paris,1.394423e+06,2,1
18,WWAZEJQVI,Drama,12/08/1995,9.801080,A documentary film that sheds light on a socia...,Tokyo,9.737322e+06,2,0
19,IDFPFANWC,Fantasy,20/11/2015,9.227341,A team of explorers ventures into the depths o...,Paris,1.290734e+07,2,1
20,QTIYFBNML,Documentary,02/08/2005,7.858370,This documentary explores the cutthroat world ...,Tokyo,3.478010e+07,1,0
21,RQMTIJYHD,Documentary,15/08/1997,5.395632,A historical drama depicting a pivotal moment ...,Tokyo,8.351821e+07,0,0
22,GEGWEHHWS,Thriller,06/12/2001,8.336223,"In a world ruled by machines, a lone rebel fig...",London,3.610468e+07,1,0
23,QSUPSGILT,Sports,04/02/2002,7.216878,A suspenseful horror film that will leave you ...,New York,5.739973e+07,0,0
24,HOQMJQXBM,Science Fiction,02/11/1991,9.397201,A heartwarming romantic comedy about two peopl...,Paris,8.872575e+07,1,0
25,AAVHOBMRH,Comedy,02/12/1991,9.852601,A heartwarming story about a dog who brings tw...,Tokyo,2.925571e+07,2,0
27,DXEFEMEGB,Fantasy,25/01/1993,9.592543,A group of social media influencers trapped on...,Los Angeles,7.847867e+07,2,0

In [27]:
test_2 = MissingValueHandler.replace_value(data,':)')#replace the null(or any similar words) with a specific word instead
test_2

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular
0,TOYHANVUR,Horror,07/07/1985,9.750176,A group of college students get more than they...,New York,10354075.16,2,1
1,CORCILSLF,Documentary,05/08/1999,7.912876,A documentary that sheds light on the devastat...,Paris,:),1,1
2,UBWUVIHEL,Adventure,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,Sydney,56013723.35,0,0
3,CGHMHKJHH,Fantasy,21/07/2018,8.811783,A young inventor builds a time machine and emb...,Paris,4422451.475,1,1
4,WMLWHTAMN,Fantasy,28/10/2011,5.250991,A young inventor builds a time machine and emb...,Sydney,:),0,0
5,REKCPGLOJ,Comedy,04/06/2013,8.676586,A heartwarming story about a dog who brings tw...,Los Angeles,24061628.84,2,1
6,GSDOQQRPD,Western,25/12/1995,9.191819,This historical drama explores the pivotal eve...,Toronto,:),0,0
7,VMIYHZNZJ,Adventure,23/03/2018,9.459478,In a post-apocalyptic world overrun by zombies...,Los Angeles,46832856.87,1,0
8,XVHGPYBBL,Mystery,19/06/2002,9.125866,When a series of strange events plague a small...,New York,69874636.03,0,0
9,NNZFDYZTH,History,16/02/2019,9.232197,A group of musicians from different background...,Tokyo,40185170.27,1,0
10,VZTEXQGBB,Comedy,22/01/2018,8.912548,"A talented chef travels the world, collecting ...",Paris,84714903.0,1,0
11,XSPIAJYJM,Fantasy,19/11/1985,8.561358,A team of explorers ventures into the depths o...,Sydney,2832552.593,2,0
12,VFXKEREAP,Fantasy,29/07/1992,7.742613,A team of explorers ventures into the depths o...,Toronto,81284082.87,1,1
13,MCCASXIDK,Crime,26/12/2003,9.727619,A young woman discovers she possesses magical ...,Toronto,23505.0,1,0
14,MTUOJCLUA,Horror,03/03/1989,6.913383,A group of teenagers explore a seemingly aband...,Sydney,3267364.319,0,0
15,DBQTOTADE,Drama,23/10/1990,8.276999,A heartwarming animated film that teaches valu...,Los Angeles,75500063.93,1,1
16,TKBEDDCMZ,Thriller,26/06/2009,7.591583,A group of college students get more than they...,Sydney,46587620.41,0,0
17,CDRJDLRCH,History,14/12/2005,9.603778,A group of musicians from different background...,Paris,1394422.513,2,1
18,WWAZEJQVI,Drama,12/08/1995,9.801080,A documentary film that sheds light on a socia...,Tokyo,9737321.658,2,0
19,IDFPFANWC,Fantasy,20/11/2015,9.227341,A team of explorers ventures into the depths o...,Paris,12907339.82,2,1
20,QTIYFBNML,Documentary,02/08/2005,7.858370,This documentary explores the cutthroat world ...,Tokyo,34780099.91,1,0
21,RQMTIJYHD,Documentary,15/08/1997,5.395632,A historical drama depicting a pivotal moment ...,Tokyo,83518205.47,0,0
22,GEGWEHHWS,Thriller,06/12/2001,8.336223,"In a world ruled by machines, a lone rebel fig...",London,36104680.49,1,0
23,QSUPSGILT,Sports,04/02/2002,7.216878,A suspenseful horror film that will leave you ...,New York,57399726.91,0,0
24,HOQMJQXBM,Science Fiction,02/11/1991,9.397201,A heartwarming romantic comedy about two peopl...,Paris,88725747.64,1,0
25,AAVHOBMRH,Comedy,02/12/1991,9.852601,A heartwarming story about a dog who brings tw...,Tokyo,29255714.17,2,0
26,AJGYZAZPD,Comedy,18/09/1991,9.090585,A bumbling office worker accidentally becomes ...,Paris,:),2,0
27,DXEFEMEGB,Fantasy,25/01/1993,9.592543,A group of social media influencers trapped on...,Los Angeles,78478669.44,2,0
28,ZZIBKYJID,Thriller,02/05/2019,5.720490,A suspenseful thriller about a family trapped ...,New York,:),0,0

In [28]:
test_3=MissingValueHandler.impute_mean(data,['Budget in USD'])#gives the mean value of the row in the NaN columns
test_3

c:\Users\habee\Downloads\pythub-final-edits\pythub-final-edits\pythub-main\data_preprocessing_lib\missing_value_handler.py:39: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular
0,TOYHANVUR,Horror,07/07/1985,9.750176,A group of college students get more than they...,New York,1.035408e+07,2,1
1,CORCILSLF,Documentary,05/08/1999,7.912876,A documentary that sheds light on the devastat...,Paris,4.076069e+07,1,1
2,UBWUVIHEL,Adventure,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,Sydney,5.601372e+07,0,0
3,CGHMHKJHH,Fantasy,21/07/2018,8.811783,A young inventor builds a time machine and emb...,Paris,4.422451e+06,1,1
4,WMLWHTAMN,Fantasy,28/10/2011,5.250991,A young inventor builds a time machine and emb...,Sydney,4.076069e+07,0,0
5,REKCPGLOJ,Comedy,04/06/2013,8.676586,A heartwarming story about a dog who brings tw...,Los Angeles,2.406163e+07,2,1
6,GSDOQQRPD,Western,25/12/1995,9.191819,This historical drama explores the pivotal eve...,Toronto,4.076069e+07,0,0
7,VMIYHZNZJ,Adventure,23/03/2018,9.459478,In a post-apocalyptic world overrun by zombies...,Los Angeles,4.683286e+07,1,0
8,XVHGPYBBL,Mystery,19/06/2002,9.125866,When a series of strange events plague a small...,New York,6.987464e+07,0,0
9,NNZFDYZTH,History,16/02/2019,9.232197,A group of musicians from different background...,Tokyo,4.018517e+07,1,0
10,VZTEXQGBB,Comedy,22/01/2018,8.912548,"A talented chef travels the world, collecting ...",Paris,8.471490e+07,1,0
11,XSPIAJYJM,Fantasy,19/11/1985,8.561358,A team of explorers ventures into the depths o...,Sydney,2.832553e+06,2,0
12,VFXKEREAP,Fantasy,29/07/1992,7.742613,A team of explorers ventures into the depths o...,Toronto,8.128408e+07,1,1
13,MCCASXIDK,Crime,26/12/2003,9.727619,A young woman discovers she possesses magical ...,Toronto,2.350500e+04,1,0
14,MTUOJCLUA,Horror,03/03/1989,6.913383,A group of teenagers explore a seemingly aband...,Sydney,3.267364e+06,0,0
15,DBQTOTADE,Drama,23/10/1990,8.276999,A heartwarming animated film that teaches valu...,Los Angeles,7.550006e+07,1,1
16,TKBEDDCMZ,Thriller,26/06/2009,7.591583,A group of college students get more than they...,Sydney,4.658762e+07,0,0
17,CDRJDLRCH,History,14/12/2005,9.603778,A group of musicians from different background...,Paris,1.394423e+06,2,1
18,WWAZEJQVI,Drama,12/08/1995,9.801080,A documentary film that sheds light on a socia...,Tokyo,9.737322e+06,2,0
19,IDFPFANWC,Fantasy,20/11/2015,9.227341,A team of explorers ventures into the depths o...,Paris,1.290734e+07,2,1
20,QTIYFBNML,Documentary,02/08/2005,7.858370,This documentary explores the cutthroat world ...,Tokyo,3.478010e+07,1,0
21,RQMTIJYHD,Documentary,15/08/1997,5.395632,A historical drama depicting a pivotal moment ...,Tokyo,8.351821e+07,0,0
22,GEGWEHHWS,Thriller,06/12/2001,8.336223,"In a world ruled by machines, a lone rebel fig...",London,3.610468e+07,1,0
23,QSUPSGILT,Sports,04/02/2002,7.216878,A suspenseful horror film that will leave you ...,New York,5.739973e+07,0,0
24,HOQMJQXBM,Science Fiction,02/11/1991,9.397201,A heartwarming romantic comedy about two peopl...,Paris,8.872575e+07,1,0
25,AAVHOBMRH,Comedy,02/12/1991,9.852601,A heartwarming story about a dog who brings tw...,Tokyo,2.925571e+07,2,0
26,AJGYZAZPD,Comedy,18/09/1991,9.090585,A bumbling office worker accidentally becomes ...,Paris,4.076069e+07,2,0
27,DXEFEMEGB,Fantasy,25/01/1993,9.592543,A group of social media influencers trapped on...,Los Angeles,7.847867e+07,2,0
28,ZZIBKYJID,Thriller,02/05/2019,5.720490,A suspenseful thriller about a family trapped ...,New York,4.076069e+07,0,0

In [29]:
test_4=MissingValueHandler.impute_median(data,['Budget in USD'])#gives the median value of the row in the NaN columns
test_4

c:\Users\habee\Downloads\pythub-final-edits\pythub-final-edits\pythub-main\data_preprocessing_lib\missing_value_handler.py:58: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular
0,TOYHANVUR,Horror,07/07/1985,9.750176,A group of college students get more than they...,New York,1.035408e+07,2,1
1,CORCILSLF,Documentary,05/08/1999,7.912876,A documentary that sheds light on the devastat...,Paris,4.076069e+07,1,1
2,UBWUVIHEL,Adventure,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,Sydney,5.601372e+07,0,0
3,CGHMHKJHH,Fantasy,21/07/2018,8.811783,A young inventor builds a time machine and emb...,Paris,4.422451e+06,1,1
4,WMLWHTAMN,Fantasy,28/10/2011,5.250991,A young inventor builds a time machine and emb...,Sydney,4.076069e+07,0,0
5,REKCPGLOJ,Comedy,04/06/2013,8.676586,A heartwarming story about a dog who brings tw...,Los Angeles,2.406163e+07,2,1
6,GSDOQQRPD,Western,25/12/1995,9.191819,This historical drama explores the pivotal eve...,Toronto,4.076069e+07,0,0
7,VMIYHZNZJ,Adventure,23/03/2018,9.459478,In a post-apocalyptic world overrun by zombies...,Los Angeles,4.683286e+07,1,0
8,XVHGPYBBL,Mystery,19/06/2002,9.125866,When a series of strange events plague a small...,New York,6.987464e+07,0,0
9,NNZFDYZTH,History,16/02/2019,9.232197,A group of musicians from different background...,Tokyo,4.018517e+07,1,0
10,VZTEXQGBB,Comedy,22/01/2018,8.912548,"A talented chef travels the world, collecting ...",Paris,8.471490e+07,1,0
11,XSPIAJYJM,Fantasy,19/11/1985,8.561358,A team of explorers ventures into the depths o...,Sydney,2.832553e+06,2,0
12,VFXKEREAP,Fantasy,29/07/1992,7.742613,A team of explorers ventures into the depths o...,Toronto,8.128408e+07,1,1
13,MCCASXIDK,Crime,26/12/2003,9.727619,A young woman discovers she possesses magical ...,Toronto,2.350500e+04,1,0
14,MTUOJCLUA,Horror,03/03/1989,6.913383,A group of teenagers explore a seemingly aband...,Sydney,3.267364e+06,0,0
15,DBQTOTADE,Drama,23/10/1990,8.276999,A heartwarming animated film that teaches valu...,Los Angeles,7.550006e+07,1,1
16,TKBEDDCMZ,Thriller,26/06/2009,7.591583,A group of college students get more than they...,Sydney,4.658762e+07,0,0
17,CDRJDLRCH,History,14/12/2005,9.603778,A group of musicians from different background...,Paris,1.394423e+06,2,1
18,WWAZEJQVI,Drama,12/08/1995,9.801080,A documentary film that sheds light on a socia...,Tokyo,9.737322e+06,2,0
19,IDFPFANWC,Fantasy,20/11/2015,9.227341,A team of explorers ventures into the depths o...,Paris,1.290734e+07,2,1
20,QTIYFBNML,Documentary,02/08/2005,7.858370,This documentary explores the cutthroat world ...,Tokyo,3.478010e+07,1,0
21,RQMTIJYHD,Documentary,15/08/1997,5.395632,A historical drama depicting a pivotal moment ...,Tokyo,8.351821e+07,0,0
22,GEGWEHHWS,Thriller,06/12/2001,8.336223,"In a world ruled by machines, a lone rebel fig...",London,3.610468e+07,1,0
23,QSUPSGILT,Sports,04/02/2002,7.216878,A suspenseful horror film that will leave you ...,New York,5.739973e+07,0,0
24,HOQMJQXBM,Science Fiction,02/11/1991,9.397201,A heartwarming romantic comedy about two peopl...,Paris,8.872575e+07,1,0
25,AAVHOBMRH,Comedy,02/12/1991,9.852601,A heartwarming story about a dog who brings tw...,Tokyo,2.925571e+07,2,0
26,AJGYZAZPD,Comedy,18/09/1991,9.090585,A bumbling office worker accidentally becomes ...,Paris,4.076069e+07,2,0
27,DXEFEMEGB,Fantasy,25/01/1993,9.592543,A group of social media influencers trapped on...,Los Angeles,7.847867e+07,2,0
28,ZZIBKYJID,Thriller,02/05/2019,5.720490,A suspenseful thriller about a family trapped ...,New York,4.076069e+07,0,0

In [30]:

test_5=MissingValueHandler.impute_constant(data,['Budget in USD'],11)#gives a specific value in the NaN columns
test_5

c:\Users\habee\Downloads\pythub-final-edits\pythub-final-edits\pythub-main\data_preprocessing_lib\missing_value_handler.py:79: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(value, inplace=True)

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular
0,TOYHANVUR,Horror,07/07/1985,9.750176,A group of college students get more than they...,New York,1.035408e+07,2,1
1,CORCILSLF,Documentary,05/08/1999,7.912876,A documentary that sheds light on the devastat...,Paris,4.076069e+07,1,1
2,UBWUVIHEL,Adventure,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,Sydney,5.601372e+07,0,0
3,CGHMHKJHH,Fantasy,21/07/2018,8.811783,A young inventor builds a time machine and emb...,Paris,4.422451e+06,1,1
4,WMLWHTAMN,Fantasy,28/10/2011,5.250991,A young inventor builds a time machine and emb...,Sydney,4.076069e+07,0,0
5,REKCPGLOJ,Comedy,04/06/2013,8.676586,A heartwarming story about a dog who brings tw...,Los Angeles,2.406163e+07,2,1
6,GSDOQQRPD,Western,25/12/1995,9.191819,This historical drama explores the pivotal eve...,Toronto,4.076069e+07,0,0
7,VMIYHZNZJ,Adventure,23/03/2018,9.459478,In a post-apocalyptic world overrun by zombies...,Los Angeles,4.683286e+07,1,0
8,XVHGPYBBL,Mystery,19/06/2002,9.125866,When a series of strange events plague a small...,New York,6.987464e+07,0,0
9,NNZFDYZTH,History,16/02/2019,9.232197,A group of musicians from different background...,Tokyo,4.018517e+07,1,0
10,VZTEXQGBB,Comedy,22/01/2018,8.912548,"A talented chef travels the world, collecting ...",Paris,8.471490e+07,1,0
11,XSPIAJYJM,Fantasy,19/11/1985,8.561358,A team of explorers ventures into the depths o...,Sydney,2.832553e+06,2,0
12,VFXKEREAP,Fantasy,29/07/1992,7.742613,A team of explorers ventures into the depths o...,Toronto,8.128408e+07,1,1
13,MCCASXIDK,Crime,26/12/2003,9.727619,A young woman discovers she possesses magical ...,Toronto,2.350500e+04,1,0
14,MTUOJCLUA,Horror,03/03/1989,6.913383,A group of teenagers explore a seemingly aband...,Sydney,3.267364e+06,0,0
15,DBQTOTADE,Drama,23/10/1990,8.276999,A heartwarming animated film that teaches valu...,Los Angeles,7.550006e+07,1,1
16,TKBEDDCMZ,Thriller,26/06/2009,7.591583,A group of college students get more than they...,Sydney,4.658762e+07,0,0
17,CDRJDLRCH,History,14/12/2005,9.603778,A group of musicians from different background...,Paris,1.394423e+06,2,1
18,WWAZEJQVI,Drama,12/08/1995,9.801080,A documentary film that sheds light on a socia...,Tokyo,9.737322e+06,2,0
19,IDFPFANWC,Fantasy,20/11/2015,9.227341,A team of explorers ventures into the depths o...,Paris,1.290734e+07,2,1
20,QTIYFBNML,Documentary,02/08/2005,7.858370,This documentary explores the cutthroat world ...,Tokyo,3.478010e+07,1,0
21,RQMTIJYHD,Documentary,15/08/1997,5.395632,A historical drama depicting a pivotal moment ...,Tokyo,8.351821e+07,0,0
22,GEGWEHHWS,Thriller,06/12/2001,8.336223,"In a world ruled by machines, a lone rebel fig...",London,3.610468e+07,1,0
23,QSUPSGILT,Sports,04/02/2002,7.216878,A suspenseful horror film that will leave you ...,New York,5.739973e+07,0,0
24,HOQMJQXBM,Science Fiction,02/11/1991,9.397201,A heartwarming romantic comedy about two peopl...,Paris,8.872575e+07,1,0
25,AAVHOBMRH,Comedy,02/12/1991,9.852601,A heartwarming story about a dog who brings tw...,Tokyo,2.925571e+07,2,0
26,AJGYZAZPD,Comedy,18/09/1991,9.090585,A bumbling office worker accidentally becomes ...,Paris,4.076069e+07,2,0
27,DXEFEMEGB,Fantasy,25/01/1993,9.592543,A group of social media influencers trapped on...,Los Angeles,7.847867e+07,2,0
28,ZZIBKYJID,Thriller,02/05/2019,5.720490,A suspenseful thriller about a family trapped ...,New York,4.076069e+07,0,0

In [31]:
test_6=MissingValueHandler.get_rows_with_missing_data(data,'Budget in USD')#bring only the missing data
test_6

Empty DataFrame
Columns: [Movie Id, Genre, Release Date, Rating, Summary, Shooting Location, Budget in USD, Awards, Popular]
Index: []

In [32]:
test_7=OutlierHandler.iqr_outliers(data,'Budget in USD')#remove the outliers from the list according to a specific column
test_7

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular
0,TOYHANVUR,Horror,07/07/1985,9.750176,A group of college students get more than they...,New York,1.035408e+07,2,1
1,CORCILSLF,Documentary,05/08/1999,7.912876,A documentary that sheds light on the devastat...,Paris,4.076069e+07,1,1
2,UBWUVIHEL,Adventure,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,Sydney,5.601372e+07,0,0
3,CGHMHKJHH,Fantasy,21/07/2018,8.811783,A young inventor builds a time machine and emb...,Paris,4.422451e+06,1,1
4,WMLWHTAMN,Fantasy,28/10/2011,5.250991,A young inventor builds a time machine and emb...,Sydney,4.076069e+07,0,0
5,REKCPGLOJ,Comedy,04/06/2013,8.676586,A heartwarming story about a dog who brings tw...,Los Angeles,2.406163e+07,2,1
6,GSDOQQRPD,Western,25/12/1995,9.191819,This historical drama explores the pivotal eve...,Toronto,4.076069e+07,0,0
7,VMIYHZNZJ,Adventure,23/03/2018,9.459478,In a post-apocalyptic world overrun by zombies...,Los Angeles,4.683286e+07,1,0
8,XVHGPYBBL,Mystery,19/06/2002,9.125866,When a series of strange events plague a small...,New York,6.987464e+07,0,0
9,NNZFDYZTH,History,16/02/2019,9.232197,A group of musicians from different background...,Tokyo,4.018517e+07,1,0
10,VZTEXQGBB,Comedy,22/01/2018,8.912548,"A talented chef travels the world, collecting ...",Paris,8.471490e+07,1,0
11,XSPIAJYJM,Fantasy,19/11/1985,8.561358,A team of explorers ventures into the depths o...,Sydney,2.832553e+06,2,0
12,VFXKEREAP,Fantasy,29/07/1992,7.742613,A team of explorers ventures into the depths o...,Toronto,8.128408e+07,1,1
13,MCCASXIDK,Crime,26/12/2003,9.727619,A young woman discovers she possesses magical ...,Toronto,2.350500e+04,1,0
14,MTUOJCLUA,Horror,03/03/1989,6.913383,A group of teenagers explore a seemingly aband...,Sydney,3.267364e+06,0,0
15,DBQTOTADE,Drama,23/10/1990,8.276999,A heartwarming animated film that teaches valu...,Los Angeles,7.550006e+07,1,1
16,TKBEDDCMZ,Thriller,26/06/2009,7.591583,A group of college students get more than they...,Sydney,4.658762e+07,0,0
17,CDRJDLRCH,History,14/12/2005,9.603778,A group of musicians from different background...,Paris,1.394423e+06,2,1
18,WWAZEJQVI,Drama,12/08/1995,9.801080,A documentary film that sheds light on a socia...,Tokyo,9.737322e+06,2,0
19,IDFPFANWC,Fantasy,20/11/2015,9.227341,A team of explorers ventures into the depths o...,Paris,1.290734e+07,2,1
20,QTIYFBNML,Documentary,02/08/2005,7.858370,This documentary explores the cutthroat world ...,Tokyo,3.478010e+07,1,0
21,RQMTIJYHD,Documentary,15/08/1997,5.395632,A historical drama depicting a pivotal moment ...,Tokyo,8.351821e+07,0,0
22,GEGWEHHWS,Thriller,06/12/2001,8.336223,"In a world ruled by machines, a lone rebel fig...",London,3.610468e+07,1,0
23,QSUPSGILT,Sports,04/02/2002,7.216878,A suspenseful horror film that will leave you ...,New York,5.739973e+07,0,0
24,HOQMJQXBM,Science Fiction,02/11/1991,9.397201,A heartwarming romantic comedy about two peopl...,Paris,8.872575e+07,1,0
25,AAVHOBMRH,Comedy,02/12/1991,9.852601,A heartwarming story about a dog who brings tw...,Tokyo,2.925571e+07,2,0
26,AJGYZAZPD,Comedy,18/09/1991,9.090585,A bumbling office worker accidentally becomes ...,Paris,4.076069e+07,2,0
27,DXEFEMEGB,Fantasy,25/01/1993,9.592543,A group of social media influencers trapped on...,Los Angeles,7.847867e+07,2,0
28,ZZIBKYJID,Thriller,02/05/2019,5.720490,A suspenseful thriller about a family trapped ...,New York,4.076069e+07,0,0

In [33]:
test_8 =Scaler.standard_scale(data,["Budget in USD"])#remove the mean and scale to unit variance
test_8

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular
0,TOYHANVUR,Horror,07/07/1985,9.750176,A group of college students get more than they...,New York,-1.097347,2,1
1,CORCILSLF,Documentary,05/08/1999,7.912876,A documentary that sheds light on the devastat...,Paris,0.000000,1,1
2,UBWUVIHEL,Adventure,08/05/1996,3.116053,A lost civilization is rediscovered deep withi...,Sydney,0.550468,0,0
3,CGHMHKJHH,Fantasy,21/07/2018,8.811783,A young inventor builds a time machine and emb...,Paris,-1.311414,1,1
4,WMLWHTAMN,Fantasy,28/10/2011,5.250991,A young inventor builds a time machine and emb...,Sydney,0.000000,0,0
5,REKCPGLOJ,Comedy,04/06/2013,8.676586,A heartwarming story about a dog who brings tw...,Los Angeles,-0.602654,2,1
6,GSDOQQRPD,Western,25/12/1995,9.191819,This historical drama explores the pivotal eve...,Toronto,0.000000,0,0
7,VMIYHZNZJ,Adventure,23/03/2018,9.459478,In a post-apocalyptic world overrun by zombies...,Los Angeles,0.219139,1,0
8,XVHGPYBBL,Mystery,19/06/2002,9.125866,When a series of strange events plague a small...,New York,1.050696,0,0
9,NNZFDYZTH,History,16/02/2019,9.232197,A group of musicians from different background...,Tokyo,-0.020770,1,0
10,VZTEXQGBB,Comedy,22/01/2018,8.912548,"A talented chef travels the world, collecting ...",Paris,1.586268,1,0
11,XSPIAJYJM,Fantasy,19/11/1985,8.561358,A team of explorers ventures into the depths o...,Sydney,-1.368792,2,0
12,VFXKEREAP,Fantasy,29/07/1992,7.742613,A team of explorers ventures into the depths o...,Toronto,1.462452,1,1
13,MCCASXIDK,Crime,26/12/2003,9.727619,A young woman discovers she possesses magical ...,Toronto,-1.470168,1,0
14,MTUOJCLUA,Horror,03/03/1989,6.913383,A group of teenagers explore a seemingly aband...,Sydney,-1.353100,0,0
15,DBQTOTADE,Drama,23/10/1990,8.276999,A heartwarming animated film that teaches valu...,Los Angeles,1.253712,1,1
16,TKBEDDCMZ,Thriller,26/06/2009,7.591583,A group of college students get more than they...,Sydney,0.210289,0,0
17,CDRJDLRCH,History,14/12/2005,9.603778,A group of musicians from different background...,Paris,-1.420693,2,1
18,WWAZEJQVI,Drama,12/08/1995,9.801080,A documentary film that sheds light on a socia...,Tokyo,-1.119605,2,0
19,IDFPFANWC,Fantasy,20/11/2015,9.227341,A team of explorers ventures into the depths o...,Paris,-1.005202,2,1
20,QTIYFBNML,Documentary,02/08/2005,7.858370,This documentary explores the cutthroat world ...,Tokyo,-0.215834,1,0
21,RQMTIJYHD,Documentary,15/08/1997,5.395632,A historical drama depicting a pivotal moment ...,Tokyo,1.543080,0,0
22,GEGWEHHWS,Thriller,06/12/2001,8.336223,"In a world ruled by machines, a lone rebel fig...",London,-0.168031,1,0
23,QSUPSGILT,Sports,04/02/2002,7.216878,A suspenseful horror film that will leave you ...,New York,0.600488,0,0
24,HOQMJQXBM,Science Fiction,02/11/1991,9.397201,A heartwarming romantic comedy about two peopl...,Paris,1.731015,1,0
25,AAVHOBMRH,Comedy,02/12/1991,9.852601,A heartwarming story about a dog who brings tw...,Tokyo,-0.415204,2,0
26,AJGYZAZPD,Comedy,18/09/1991,9.090585,A bumbling office worker accidentally becomes ...,Paris,0.000000,2,0
27,DXEFEMEGB,Fantasy,25/01/1993,9.592543,A group of social media influencers trapped on...,Los Angeles,1.361208,2,0
28,ZZIBKYJID,Thriller,02/05/2019,5.720490,A suspenseful thriller about a family trapped ...,New York,0.000000,0,0

In [34]:
test_9 =Scaler.minmax_scale(data,["Rating"])#scale each column data to a 0 to 1 range
test_9

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular
0,TOYHANVUR,Horror,07/07/1985,0.984796,A group of college students get more than they...,New York,-1.097347,2,1
1,CORCILSLF,Documentary,05/08/1999,0.712060,A documentary that sheds light on the devastat...,Paris,0.000000,1,1
2,UBWUVIHEL,Adventure,08/05/1996,0.000000,A lost civilization is rediscovered deep withi...,Sydney,0.550468,0,0
3,CGHMHKJHH,Fantasy,21/07/2018,0.845497,A young inventor builds a time machine and emb...,Paris,-1.311414,1,1
4,WMLWHTAMN,Fantasy,28/10/2011,0.316919,A young inventor builds a time machine and emb...,Sydney,0.000000,0,0
5,REKCPGLOJ,Comedy,04/06/2013,0.825428,A heartwarming story about a dog who brings tw...,Los Angeles,-0.602654,2,1
6,GSDOQQRPD,Western,25/12/1995,0.901911,This historical drama explores the pivotal eve...,Toronto,0.000000,0,0
7,VMIYHZNZJ,Adventure,23/03/2018,0.941643,In a post-apocalyptic world overrun by zombies...,Los Angeles,0.219139,1,0
8,XVHGPYBBL,Mystery,19/06/2002,0.892121,When a series of strange events plague a small...,New York,1.050696,0,0
9,NNZFDYZTH,History,16/02/2019,0.907905,A group of musicians from different background...,Tokyo,-0.020770,1,0
10,VZTEXQGBB,Comedy,22/01/2018,0.860455,"A talented chef travels the world, collecting ...",Paris,1.586268,1,0
11,XSPIAJYJM,Fantasy,19/11/1985,0.808323,A team of explorers ventures into the depths o...,Sydney,-1.368792,2,0
12,VFXKEREAP,Fantasy,29/07/1992,0.686785,A team of explorers ventures into the depths o...,Toronto,1.462452,1,1
13,MCCASXIDK,Crime,26/12/2003,0.981447,A young woman discovers she possesses magical ...,Toronto,-1.470168,1,0
14,MTUOJCLUA,Horror,03/03/1989,0.563691,A group of teenagers explore a seemingly aband...,Sydney,-1.353100,0,0
15,DBQTOTADE,Drama,23/10/1990,0.766111,A heartwarming animated film that teaches valu...,Los Angeles,1.253712,1,1
16,TKBEDDCMZ,Thriller,26/06/2009,0.664366,A group of college students get more than they...,Sydney,0.210289,0,0
17,CDRJDLRCH,History,14/12/2005,0.963064,A group of musicians from different background...,Paris,-1.420693,2,1
18,WWAZEJQVI,Drama,12/08/1995,0.992352,A documentary film that sheds light on a socia...,Tokyo,-1.119605,2,0
19,IDFPFANWC,Fantasy,20/11/2015,0.907184,A team of explorers ventures into the depths o...,Paris,-1.005202,2,1
20,QTIYFBNML,Documentary,02/08/2005,0.703968,This documentary explores the cutthroat world ...,Tokyo,-0.215834,1,0
21,RQMTIJYHD,Documentary,15/08/1997,0.338390,A historical drama depicting a pivotal moment ...,Tokyo,1.543080,0,0
22,GEGWEHHWS,Thriller,06/12/2001,0.774903,"In a world ruled by machines, a lone rebel fig...",London,-0.168031,1,0
23,QSUPSGILT,Sports,04/02/2002,0.608743,A suspenseful horror film that will leave you ...,New York,0.600488,0,0
24,HOQMJQXBM,Science Fiction,02/11/1991,0.932399,A heartwarming romantic comedy about two peopl...,Paris,1.731015,1,0
25,AAVHOBMRH,Comedy,02/12/1991,1.000000,A heartwarming story about a dog who brings tw...,Tokyo,-0.415204,2,0
26,AJGYZAZPD,Comedy,18/09/1991,0.886883,A bumbling office worker accidentally becomes ...,Paris,0.000000,2,0
27,DXEFEMEGB,Fantasy,25/01/1993,0.961396,A group of social media influencers trapped on...,Los Angeles,1.361208,2,0
28,ZZIBKYJID,Thriller,02/05/2019,0.386613,A suspenseful thriller about a family trapped ...,New York,0.000000,0,0

In [35]:
test_10=DataTypeConverter.to_numeric(data,["Budget in USD"])#convert the datas in the columnt to numeric type(if not converter NaN will be given)
test_10

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular
0,TOYHANVUR,Horror,07/07/1985,0.984796,A group of college students get more than they...,New York,-1.097347,2,1
1,CORCILSLF,Documentary,05/08/1999,0.712060,A documentary that sheds light on the devastat...,Paris,0.000000,1,1
2,UBWUVIHEL,Adventure,08/05/1996,0.000000,A lost civilization is rediscovered deep withi...,Sydney,0.550468,0,0
3,CGHMHKJHH,Fantasy,21/07/2018,0.845497,A young inventor builds a time machine and emb...,Paris,-1.311414,1,1
4,WMLWHTAMN,Fantasy,28/10/2011,0.316919,A young inventor builds a time machine and emb...,Sydney,0.000000,0,0
5,REKCPGLOJ,Comedy,04/06/2013,0.825428,A heartwarming story about a dog who brings tw...,Los Angeles,-0.602654,2,1
6,GSDOQQRPD,Western,25/12/1995,0.901911,This historical drama explores the pivotal eve...,Toronto,0.000000,0,0
7,VMIYHZNZJ,Adventure,23/03/2018,0.941643,In a post-apocalyptic world overrun by zombies...,Los Angeles,0.219139,1,0
8,XVHGPYBBL,Mystery,19/06/2002,0.892121,When a series of strange events plague a small...,New York,1.050696,0,0
9,NNZFDYZTH,History,16/02/2019,0.907905,A group of musicians from different background...,Tokyo,-0.020770,1,0
10,VZTEXQGBB,Comedy,22/01/2018,0.860455,"A talented chef travels the world, collecting ...",Paris,1.586268,1,0
11,XSPIAJYJM,Fantasy,19/11/1985,0.808323,A team of explorers ventures into the depths o...,Sydney,-1.368792,2,0
12,VFXKEREAP,Fantasy,29/07/1992,0.686785,A team of explorers ventures into the depths o...,Toronto,1.462452,1,1
13,MCCASXIDK,Crime,26/12/2003,0.981447,A young woman discovers she possesses magical ...,Toronto,-1.470168,1,0
14,MTUOJCLUA,Horror,03/03/1989,0.563691,A group of teenagers explore a seemingly aband...,Sydney,-1.353100,0,0
15,DBQTOTADE,Drama,23/10/1990,0.766111,A heartwarming animated film that teaches valu...,Los Angeles,1.253712,1,1
16,TKBEDDCMZ,Thriller,26/06/2009,0.664366,A group of college students get more than they...,Sydney,0.210289,0,0
17,CDRJDLRCH,History,14/12/2005,0.963064,A group of musicians from different background...,Paris,-1.420693,2,1
18,WWAZEJQVI,Drama,12/08/1995,0.992352,A documentary film that sheds light on a socia...,Tokyo,-1.119605,2,0
19,IDFPFANWC,Fantasy,20/11/2015,0.907184,A team of explorers ventures into the depths o...,Paris,-1.005202,2,1
20,QTIYFBNML,Documentary,02/08/2005,0.703968,This documentary explores the cutthroat world ...,Tokyo,-0.215834,1,0
21,RQMTIJYHD,Documentary,15/08/1997,0.338390,A historical drama depicting a pivotal moment ...,Tokyo,1.543080,0,0
22,GEGWEHHWS,Thriller,06/12/2001,0.774903,"In a world ruled by machines, a lone rebel fig...",London,-0.168031,1,0
23,QSUPSGILT,Sports,04/02/2002,0.608743,A suspenseful horror film that will leave you ...,New York,0.600488,0,0
24,HOQMJQXBM,Science Fiction,02/11/1991,0.932399,A heartwarming romantic comedy about two peopl...,Paris,1.731015,1,0
25,AAVHOBMRH,Comedy,02/12/1991,1.000000,A heartwarming story about a dog who brings tw...,Tokyo,-0.415204,2,0
26,AJGYZAZPD,Comedy,18/09/1991,0.886883,A bumbling office worker accidentally becomes ...,Paris,0.000000,2,0
27,DXEFEMEGB,Fantasy,25/01/1993,0.961396,A group of social media influencers trapped on...,Los Angeles,1.361208,2,0
28,ZZIBKYJID,Thriller,02/05/2019,0.386613,A suspenseful thriller about a family trapped ...,New York,0.000000,0,0

In [36]:
test_11=DataTypeConverter.to_categorical(data,["Rating"])#convert the datas in the columnt to categorial type(if not converter NaN will be given)
test_11

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular
0,TOYHANVUR,Horror,07/07/1985,0.984796,A group of college students get more than they...,New York,-1.097347,2,1
1,CORCILSLF,Documentary,05/08/1999,0.712060,A documentary that sheds light on the devastat...,Paris,0.000000,1,1
2,UBWUVIHEL,Adventure,08/05/1996,0.000000,A lost civilization is rediscovered deep withi...,Sydney,0.550468,0,0
3,CGHMHKJHH,Fantasy,21/07/2018,0.845497,A young inventor builds a time machine and emb...,Paris,-1.311414,1,1
4,WMLWHTAMN,Fantasy,28/10/2011,0.316919,A young inventor builds a time machine and emb...,Sydney,0.000000,0,0
5,REKCPGLOJ,Comedy,04/06/2013,0.825428,A heartwarming story about a dog who brings tw...,Los Angeles,-0.602654,2,1
6,GSDOQQRPD,Western,25/12/1995,0.901911,This historical drama explores the pivotal eve...,Toronto,0.000000,0,0
7,VMIYHZNZJ,Adventure,23/03/2018,0.941643,In a post-apocalyptic world overrun by zombies...,Los Angeles,0.219139,1,0
8,XVHGPYBBL,Mystery,19/06/2002,0.892121,When a series of strange events plague a small...,New York,1.050696,0,0
9,NNZFDYZTH,History,16/02/2019,0.907905,A group of musicians from different background...,Tokyo,-0.020770,1,0
10,VZTEXQGBB,Comedy,22/01/2018,0.860455,"A talented chef travels the world, collecting ...",Paris,1.586268,1,0
11,XSPIAJYJM,Fantasy,19/11/1985,0.808323,A team of explorers ventures into the depths o...,Sydney,-1.368792,2,0
12,VFXKEREAP,Fantasy,29/07/1992,0.686785,A team of explorers ventures into the depths o...,Toronto,1.462452,1,1
13,MCCASXIDK,Crime,26/12/2003,0.981447,A young woman discovers she possesses magical ...,Toronto,-1.470168,1,0
14,MTUOJCLUA,Horror,03/03/1989,0.563691,A group of teenagers explore a seemingly aband...,Sydney,-1.353100,0,0
15,DBQTOTADE,Drama,23/10/1990,0.766111,A heartwarming animated film that teaches valu...,Los Angeles,1.253712,1,1
16,TKBEDDCMZ,Thriller,26/06/2009,0.664366,A group of college students get more than they...,Sydney,0.210289,0,0
17,CDRJDLRCH,History,14/12/2005,0.963064,A group of musicians from different background...,Paris,-1.420693,2,1
18,WWAZEJQVI,Drama,12/08/1995,0.992352,A documentary film that sheds light on a socia...,Tokyo,-1.119605,2,0
19,IDFPFANWC,Fantasy,20/11/2015,0.907184,A team of explorers ventures into the depths o...,Paris,-1.005202,2,1
20,QTIYFBNML,Documentary,02/08/2005,0.703968,This documentary explores the cutthroat world ...,Tokyo,-0.215834,1,0
21,RQMTIJYHD,Documentary,15/08/1997,0.338390,A historical drama depicting a pivotal moment ...,Tokyo,1.543080,0,0
22,GEGWEHHWS,Thriller,06/12/2001,0.774903,"In a world ruled by machines, a lone rebel fig...",London,-0.168031,1,0
23,QSUPSGILT,Sports,04/02/2002,0.608743,A suspenseful horror film that will leave you ...,New York,0.600488,0,0
24,HOQMJQXBM,Science Fiction,02/11/1991,0.932399,A heartwarming romantic comedy about two peopl...,Paris,1.731015,1,0
25,AAVHOBMRH,Comedy,02/12/1991,1.000000,A heartwarming story about a dog who brings tw...,Tokyo,-0.415204,2,0
26,AJGYZAZPD,Comedy,18/09/1991,0.886883,A bumbling office worker accidentally becomes ...,Paris,0.000000,2,0
27,DXEFEMEGB,Fantasy,25/01/1993,0.961396,A group of social media influencers trapped on...,Los Angeles,1.361208,2,0
28,ZZIBKYJID,Thriller,02/05/2019,0.386613,A suspenseful thriller about a family trapped ...,New York,0.000000,0,0

In [37]:
test_12=TextCleaner.clean_columns(data, ['Summary'])#clean the string fields(calls 4 method:remove_stopwords, to_lowercase, remove_punctuation, lemmatize)
test_12

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular
0,TOYHANVUR,Horror,07/07/1985,0.984796,group college student get bargained spend week...,New York,-1.097347,2,1
1,CORCILSLF,Documentary,05/08/1999,0.712060,documentary shed light devastating effect clim...,Paris,0.000000,1,1
2,UBWUVIHEL,Adventure,08/05/1996,0.000000,lost civilization rediscovered deep within ama...,Sydney,0.550468,0,0
3,CGHMHKJHH,Fantasy,21/07/2018,0.845497,young inventor build time machine embarks jour...,Paris,-1.311414,1,1
4,WMLWHTAMN,Fantasy,28/10/2011,0.316919,young inventor build time machine embarks jour...,Sydney,0.000000,0,0
5,REKCPGLOJ,Comedy,04/06/2013,0.825428,heartwarming story dog brings two lonely peopl...,Los Angeles,-0.602654,2,1
6,GSDOQQRPD,Western,25/12/1995,0.901911,historical drama explores pivotal event led am...,Toronto,0.000000,0,0
7,VMIYHZNZJ,Adventure,23/03/2018,0.941643,postapocalyptic world overrun zombie group sur...,Los Angeles,0.219139,1,0
8,XVHGPYBBL,Mystery,19/06/2002,0.892121,series strange event plague small town group t...,New York,1.050696,0,0
9,NNZFDYZTH,History,16/02/2019,0.907905,group musician different background form band ...,Tokyo,-0.020770,1,0
10,VZTEXQGBB,Comedy,22/01/2018,0.860455,talented chef travel world collecting culinary...,Paris,1.586268,1,0
11,XSPIAJYJM,Fantasy,19/11/1985,0.808323,team explorer venture depth ocean uncover anci...,Sydney,-1.368792,2,0
12,VFXKEREAP,Fantasy,29/07/1992,0.686785,team explorer venture depth ocean uncover anci...,Toronto,1.462452,1,1
13,MCCASXIDK,Crime,26/12/2003,0.981447,young woman discovers posse magical ability mu...,Toronto,-1.470168,1,0
14,MTUOJCLUA,Horror,03/03/1989,0.563691,group teenager explore seemingly abandoned hou...,Sydney,-1.353100,0,0
15,DBQTOTADE,Drama,23/10/1990,0.766111,heartwarming animated film teach valuable life...,Los Angeles,1.253712,1,1
16,TKBEDDCMZ,Thriller,26/06/2009,0.664366,group college student get bargained participat...,Sydney,0.210289,0,0
17,CDRJDLRCH,History,14/12/2005,0.963064,group musician different background form band ...,Paris,-1.420693,2,1
18,WWAZEJQVI,Drama,12/08/1995,0.992352,documentary film shed light social environment...,Tokyo,-1.119605,2,0
19,IDFPFANWC,Fantasy,20/11/2015,0.907184,team explorer venture depth ocean uncover anci...,Paris,-1.005202,2,1
20,QTIYFBNML,Documentary,02/08/2005,0.703968,documentary explores cutthroat world competiti...,Tokyo,-0.215834,1,0
21,RQMTIJYHD,Documentary,15/08/1997,0.338390,historical drama depicting pivotal moment nati...,Tokyo,1.543080,0,0
22,GEGWEHHWS,Thriller,06/12/2001,0.774903,world ruled machine lone rebel fight free huma...,London,-0.168031,1,0
23,QSUPSGILT,Sports,04/02/2002,0.608743,suspenseful horror film leave edge seat,New York,0.600488,0,0
24,HOQMJQXBM,Science Fiction,02/11/1991,0.932399,heartwarming romantic comedy two people find l...,Paris,1.731015,1,0
25,AAVHOBMRH,Comedy,02/12/1991,1.000000,heartwarming story dog brings two lonely peopl...,Tokyo,-0.415204,2,0
26,AJGYZAZPD,Comedy,18/09/1991,0.886883,bumbling office worker accidentally becomes so...,Paris,0.000000,2,0
27,DXEFEMEGB,Fantasy,25/01/1993,0.961396,group social medium influencers trapped desert...,Los Angeles,1.361208,2,0
28,ZZIBKYJID,Thriller,02/05/2019,0.386613,suspenseful thriller family trapped home dange...,New York,0.000000,0,0

In [38]:
test_13=CategoricalEncoder.one_hot_encode(data,["Genre"])#transform a specific column values into 0 & 1,and make new cells with each column unique data
test_13

,Movie Id,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular,Genre_Adventure,Genre_Comedy,...,Genre_Documentary,Genre_Drama,Genre_Fantasy,Genre_History,Genre_Horror,Genre_Mystery,Genre_Science Fiction,Genre_Sports,Genre_Thriller,Genre_Western
0,TOYHANVUR,07/07/1985,0.984796,group college student get bargained spend week...,New York,-1.097347,2,1,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,CORCILSLF,05/08/1999,0.712060,documentary shed light devastating effect clim...,Paris,0.000000,1,1,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,UBWUVIHEL,08/05/1996,0.000000,lost civilization rediscovered deep within ama...,Sydney,0.550468,0,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,CGHMHKJHH,21/07/2018,0.845497,young inventor build time machine embarks jour...,Paris,-1.311414,1,1,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,WMLWHTAMN,28/10/2011,0.316919,young inventor build time machine embarks jour...,Sydney,0.000000,0,0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,REKCPGLOJ,04/06/2013,0.825428,heartwarming story dog brings two lonely peopl...,Los Angeles,-0.602654,2,1,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,GSDOQQRPD,25/12/1995,0.901911,historical drama explores pivotal event led am...,Toronto,0.000000,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
7,VMIYHZNZJ,23/03/2018,0.941643,postapocalyptic world overrun zombie group sur...,Los Angeles,0.219139,1,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,XVHGPYBBL,19/06/2002,0.892121,series strange event plague small town group t...,New York,1.050696,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
9,NNZFDYZTH,16/02/2019,0.907905,group musician different background form band ...,Tokyo,-0.020770,1,0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
10,VZTEXQGBB,22/01/2018,0.860455,talented chef travel world collecting culinary...,Paris,1.586268,1,0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,XSPIAJYJM,19/11/1985,0.808323,team explorer venture depth ocean uncover anci...,Sydney,-1.368792,2,0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,VFXKEREAP,29/07/1992,0.686785,team explorer venture depth ocean uncover anci...,Toronto,1.462452,1,1,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,MCCASXIDK,26/12/2003,0.981447,young woman discovers posse magical ability mu...,Toronto,-1.470168,1,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,MTUOJCLUA,03/03/1989,0.563691,group teenager explore seemingly abandoned hou...,Sydney,-1.353100,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
15,DBQTOTADE,23/10/1990,0.766111,heartwarming animated film teach valuable life...,Los Angeles,1.253712,1,1,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,TKBEDDCMZ,26/06/2009,0.664366,group college student get bargained participat...,Sydney,0.210289,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
17,CDRJDLRCH,14/12/2005,0.963064,group musician different background form band ...,Paris,-1.420693,2,1,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
18,WWAZEJQVI,12/08/1995,0.992352,documentary film shed light social environment...,Tokyo,-1.119605,2,0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,IDFPFANWC,20/11/2015,0.907184,team explorer venture depth ocean uncover anci...,Paris,-1.005202,2,1,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,QTIYFBNML,02/08/2005,0.703968,documentary explores cutthroat world competiti...,Tokyo,-0.215834,1,0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,RQMTIJYHD,15/08/1997,0.338390,historical drama depicting pivotal moment nati...,Tokyo,1.543080,0,0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,GEGWEHHWS,06/12/2001,0.774903,world ruled machine lone rebel fight free huma...,London,-0.168031,1,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
23,QSUPSGILT,04/02/2002,0.608743,suspenseful horror film leave edge seat,New York,0.600488,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
24,HOQMJQXBM,02/11/1991,0.932399,heartwarming romantic comedy two people find l...,Paris,1.731015,1,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
25,AAVHOBMRH,02/12/1991,1.000000,heartwarming story dog brings two lonely peopl...,Tokyo,-0.415204,2,0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,AJGYZAZPD,18/09/1991,0.886883,bumbling office worker accidentally becomes so...,Paris,0.000000,2,0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,DXEFEMEGB,25/01/1993,0.961396,group social medium influencers trapped desert...,Los Angeles,1.361208,2,0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,ZZIBKYJID,02/05/2019,0.386613,suspenseful thriller family trapped home dange...,New York,0.000000,0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [39]:
test_14=CategoricalEncoder.label_encode(data,["Shooting Location"])#converts each category value in a column to a unique integer
test_14

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular
0,TOYHANVUR,Horror,07/07/1985,0.984796,group college student get bargained spend week...,2,-1.097347,2,1
1,CORCILSLF,Documentary,05/08/1999,0.712060,documentary shed light devastating effect clim...,3,0.000000,1,1
2,UBWUVIHEL,Adventure,08/05/1996,0.000000,lost civilization rediscovered deep within ama...,4,0.550468,0,0
3,CGHMHKJHH,Fantasy,21/07/2018,0.845497,young inventor build time machine embarks jour...,3,-1.311414,1,1
4,WMLWHTAMN,Fantasy,28/10/2011,0.316919,young inventor build time machine embarks jour...,4,0.000000,0,0
5,REKCPGLOJ,Comedy,04/06/2013,0.825428,heartwarming story dog brings two lonely peopl...,1,-0.602654,2,1
6,GSDOQQRPD,Western,25/12/1995,0.901911,historical drama explores pivotal event led am...,6,0.000000,0,0
7,VMIYHZNZJ,Adventure,23/03/2018,0.941643,postapocalyptic world overrun zombie group sur...,1,0.219139,1,0
8,XVHGPYBBL,Mystery,19/06/2002,0.892121,series strange event plague small town group t...,2,1.050696,0,0
9,NNZFDYZTH,History,16/02/2019,0.907905,group musician different background form band ...,5,-0.020770,1,0
10,VZTEXQGBB,Comedy,22/01/2018,0.860455,talented chef travel world collecting culinary...,3,1.586268,1,0
11,XSPIAJYJM,Fantasy,19/11/1985,0.808323,team explorer venture depth ocean uncover anci...,4,-1.368792,2,0
12,VFXKEREAP,Fantasy,29/07/1992,0.686785,team explorer venture depth ocean uncover anci...,6,1.462452,1,1
13,MCCASXIDK,Crime,26/12/2003,0.981447,young woman discovers posse magical ability mu...,6,-1.470168,1,0
14,MTUOJCLUA,Horror,03/03/1989,0.563691,group teenager explore seemingly abandoned hou...,4,-1.353100,0,0
15,DBQTOTADE,Drama,23/10/1990,0.766111,heartwarming animated film teach valuable life...,1,1.253712,1,1
16,TKBEDDCMZ,Thriller,26/06/2009,0.664366,group college student get bargained participat...,4,0.210289,0,0
17,CDRJDLRCH,History,14/12/2005,0.963064,group musician different background form band ...,3,-1.420693,2,1
18,WWAZEJQVI,Drama,12/08/1995,0.992352,documentary film shed light social environment...,5,-1.119605,2,0
19,IDFPFANWC,Fantasy,20/11/2015,0.907184,team explorer venture depth ocean uncover anci...,3,-1.005202,2,1
20,QTIYFBNML,Documentary,02/08/2005,0.703968,documentary explores cutthroat world competiti...,5,-0.215834,1,0
21,RQMTIJYHD,Documentary,15/08/1997,0.338390,historical drama depicting pivotal moment nati...,5,1.543080,0,0
22,GEGWEHHWS,Thriller,06/12/2001,0.774903,world ruled machine lone rebel fight free huma...,0,-0.168031,1,0
23,QSUPSGILT,Sports,04/02/2002,0.608743,suspenseful horror film leave edge seat,2,0.600488,0,0
24,HOQMJQXBM,Science Fiction,02/11/1991,0.932399,heartwarming romantic comedy two people find l...,3,1.731015,1,0
25,AAVHOBMRH,Comedy,02/12/1991,1.000000,heartwarming story dog brings two lonely peopl...,5,-0.415204,2,0
26,AJGYZAZPD,Comedy,18/09/1991,0.886883,bumbling office worker accidentally becomes so...,3,0.000000,2,0
27,DXEFEMEGB,Fantasy,25/01/1993,0.961396,group social medium influencers trapped desert...,1,1.361208,2,0
28,ZZIBKYJID,Thriller,02/05/2019,0.386613,suspenseful thriller family trapped home dange...,2,0.000000,0,0

In [40]:
test_15=DateTimeHandler.to_datetime(data,["Release Date"])#converts specified columns to datetime data types
test_15

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular
0,TOYHANVUR,Horror,1985-07-07,0.984796,group college student get bargained spend week...,2,-1.097347,2,1
1,CORCILSLF,Documentary,1999-08-05,0.712060,documentary shed light devastating effect clim...,3,0.000000,1,1
2,UBWUVIHEL,Adventure,1996-05-08,0.000000,lost civilization rediscovered deep within ama...,4,0.550468,0,0
3,CGHMHKJHH,Fantasy,2018-07-21,0.845497,young inventor build time machine embarks jour...,3,-1.311414,1,1
4,WMLWHTAMN,Fantasy,2011-10-28,0.316919,young inventor build time machine embarks jour...,4,0.000000,0,0
5,REKCPGLOJ,Comedy,2013-06-04,0.825428,heartwarming story dog brings two lonely peopl...,1,-0.602654,2,1
6,GSDOQQRPD,Western,1995-12-25,0.901911,historical drama explores pivotal event led am...,6,0.000000,0,0
7,VMIYHZNZJ,Adventure,2018-03-23,0.941643,postapocalyptic world overrun zombie group sur...,1,0.219139,1,0
8,XVHGPYBBL,Mystery,2002-06-19,0.892121,series strange event plague small town group t...,2,1.050696,0,0
9,NNZFDYZTH,History,2019-02-16,0.907905,group musician different background form band ...,5,-0.020770,1,0
10,VZTEXQGBB,Comedy,2018-01-22,0.860455,talented chef travel world collecting culinary...,3,1.586268,1,0
11,XSPIAJYJM,Fantasy,1985-11-19,0.808323,team explorer venture depth ocean uncover anci...,4,-1.368792,2,0
12,VFXKEREAP,Fantasy,1992-07-29,0.686785,team explorer venture depth ocean uncover anci...,6,1.462452,1,1
13,MCCASXIDK,Crime,2003-12-26,0.981447,young woman discovers posse magical ability mu...,6,-1.470168,1,0
14,MTUOJCLUA,Horror,1989-03-03,0.563691,group teenager explore seemingly abandoned hou...,4,-1.353100,0,0
15,DBQTOTADE,Drama,1990-10-23,0.766111,heartwarming animated film teach valuable life...,1,1.253712,1,1
16,TKBEDDCMZ,Thriller,2009-06-26,0.664366,group college student get bargained participat...,4,0.210289,0,0
17,CDRJDLRCH,History,2005-12-14,0.963064,group musician different background form band ...,3,-1.420693,2,1
18,WWAZEJQVI,Drama,1995-08-12,0.992352,documentary film shed light social environment...,5,-1.119605,2,0
19,IDFPFANWC,Fantasy,2015-11-20,0.907184,team explorer venture depth ocean uncover anci...,3,-1.005202,2,1
20,QTIYFBNML,Documentary,2005-08-02,0.703968,documentary explores cutthroat world competiti...,5,-0.215834,1,0
21,RQMTIJYHD,Documentary,1997-08-15,0.338390,historical drama depicting pivotal moment nati...,5,1.543080,0,0
22,GEGWEHHWS,Thriller,2001-12-06,0.774903,world ruled machine lone rebel fight free huma...,0,-0.168031,1,0
23,QSUPSGILT,Sports,2002-02-04,0.608743,suspenseful horror film leave edge seat,2,0.600488,0,0
24,HOQMJQXBM,Science Fiction,1991-11-02,0.932399,heartwarming romantic comedy two people find l...,3,1.731015,1,0
25,AAVHOBMRH,Comedy,1991-12-02,1.000000,heartwarming story dog brings two lonely peopl...,5,-0.415204,2,0
26,AJGYZAZPD,Comedy,1991-09-18,0.886883,bumbling office worker accidentally becomes so...,3,0.000000,2,0
27,DXEFEMEGB,Fantasy,1993-01-25,0.961396,group social medium influencers trapped desert...,1,1.361208,2,0
28,ZZIBKYJID,Thriller,2019-05-02,0.386613,suspenseful thriller family trapped home dange...,2,0.000000,0,0

In [41]:
test_16=DateTimeHandler.extract_date_parts(data,"Release Date")#convert the date into 3 columns: year, month and day
test_16

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular,Release Date_year,Release Date_month,Release Date_day
0,TOYHANVUR,Horror,1985-07-07,0.984796,group college student get bargained spend week...,2,-1.097347,2,1,1985,7,7
1,CORCILSLF,Documentary,1999-08-05,0.712060,documentary shed light devastating effect clim...,3,0.000000,1,1,1999,8,5
2,UBWUVIHEL,Adventure,1996-05-08,0.000000,lost civilization rediscovered deep within ama...,4,0.550468,0,0,1996,5,8
3,CGHMHKJHH,Fantasy,2018-07-21,0.845497,young inventor build time machine embarks jour...,3,-1.311414,1,1,2018,7,21
4,WMLWHTAMN,Fantasy,2011-10-28,0.316919,young inventor build time machine embarks jour...,4,0.000000,0,0,2011,10,28
5,REKCPGLOJ,Comedy,2013-06-04,0.825428,heartwarming story dog brings two lonely peopl...,1,-0.602654,2,1,2013,6,4
6,GSDOQQRPD,Western,1995-12-25,0.901911,historical drama explores pivotal event led am...,6,0.000000,0,0,1995,12,25
7,VMIYHZNZJ,Adventure,2018-03-23,0.941643,postapocalyptic world overrun zombie group sur...,1,0.219139,1,0,2018,3,23
8,XVHGPYBBL,Mystery,2002-06-19,0.892121,series strange event plague small town group t...,2,1.050696,0,0,2002,6,19
9,NNZFDYZTH,History,2019-02-16,0.907905,group musician different background form band ...,5,-0.020770,1,0,2019,2,16
10,VZTEXQGBB,Comedy,2018-01-22,0.860455,talented chef travel world collecting culinary...,3,1.586268,1,0,2018,1,22
11,XSPIAJYJM,Fantasy,1985-11-19,0.808323,team explorer venture depth ocean uncover anci...,4,-1.368792,2,0,1985,11,19
12,VFXKEREAP,Fantasy,1992-07-29,0.686785,team explorer venture depth ocean uncover anci...,6,1.462452,1,1,1992,7,29
13,MCCASXIDK,Crime,2003-12-26,0.981447,young woman discovers posse magical ability mu...,6,-1.470168,1,0,2003,12,26
14,MTUOJCLUA,Horror,1989-03-03,0.563691,group teenager explore seemingly abandoned hou...,4,-1.353100,0,0,1989,3,3
15,DBQTOTADE,Drama,1990-10-23,0.766111,heartwarming animated film teach valuable life...,1,1.253712,1,1,1990,10,23
16,TKBEDDCMZ,Thriller,2009-06-26,0.664366,group college student get bargained participat...,4,0.210289,0,0,2009,6,26
17,CDRJDLRCH,History,2005-12-14,0.963064,group musician different background form band ...,3,-1.420693,2,1,2005,12,14
18,WWAZEJQVI,Drama,1995-08-12,0.992352,documentary film shed light social environment...,5,-1.119605,2,0,1995,8,12
19,IDFPFANWC,Fantasy,2015-11-20,0.907184,team explorer venture depth ocean uncover anci...,3,-1.005202,2,1,2015,11,20
20,QTIYFBNML,Documentary,2005-08-02,0.703968,documentary explores cutthroat world competiti...,5,-0.215834,1,0,2005,8,2
21,RQMTIJYHD,Documentary,1997-08-15,0.338390,historical drama depicting pivotal moment nati...,5,1.543080,0,0,1997,8,15
22,GEGWEHHWS,Thriller,2001-12-06,0.774903,world ruled machine lone rebel fight free huma...,0,-0.168031,1,0,2001,12,6
23,QSUPSGILT,Sports,2002-02-04,0.608743,suspenseful horror film leave edge seat,2,0.600488,0,0,2002,2,4
24,HOQMJQXBM,Science Fiction,1991-11-02,0.932399,heartwarming romantic comedy two people find l...,3,1.731015,1,0,1991,11,2
25,AAVHOBMRH,Comedy,1991-12-02,1.000000,heartwarming story dog brings two lonely peopl...,5,-0.415204,2,0,1991,12,2
26,AJGYZAZPD,Comedy,1991-09-18,0.886883,bumbling office worker accidentally becomes so...,3,0.000000,2,0,1991,9,18
27,DXEFEMEGB,Fantasy,1993-01-25,0.961396,group social medium influencers trapped desert...,1,1.361208,2,0,1993,1,25
28,ZZIBKYJID,Thriller,2019-05-02,0.386613,suspenseful thriller family trapped home dange...,2,0.000000,0,0,2019,5,2

In [42]:
test_17=DataSorter.sort_by_row(data,["Release Date"])#sort the data (according to alphabets and numbers)
test_17

,Movie Id,Genre,Release Date,Rating,Summary,Shooting Location,Budget in USD,Awards,Popular,Release Date_year,Release Date_month,Release Date_day
0,TOYHANVUR,Horror,1985-07-07,0.984796,group college student get bargained spend week...,2,-1.097347,2,1,1985,7,7
11,XSPIAJYJM,Fantasy,1985-11-19,0.808323,team explorer venture depth ocean uncover anci...,4,-1.368792,2,0,1985,11,19
14,MTUOJCLUA,Horror,1989-03-03,0.563691,group teenager explore seemingly abandoned hou...,4,-1.353100,0,0,1989,3,3
15,DBQTOTADE,Drama,1990-10-23,0.766111,heartwarming animated film teach valuable life...,1,1.253712,1,1,1990,10,23
26,AJGYZAZPD,Comedy,1991-09-18,0.886883,bumbling office worker accidentally becomes so...,3,0.000000,2,0,1991,9,18
24,HOQMJQXBM,Science Fiction,1991-11-02,0.932399,heartwarming romantic comedy two people find l...,3,1.731015,1,0,1991,11,2
25,AAVHOBMRH,Comedy,1991-12-02,1.000000,heartwarming story dog brings two lonely peopl...,5,-0.415204,2,0,1991,12,2
12,VFXKEREAP,Fantasy,1992-07-29,0.686785,team explorer venture depth ocean uncover anci...,6,1.462452,1,1,1992,7,29
27,DXEFEMEGB,Fantasy,1993-01-25,0.961396,group social medium influencers trapped desert...,1,1.361208,2,0,1993,1,25
18,WWAZEJQVI,Drama,1995-08-12,0.992352,documentary film shed light social environment...,5,-1.119605,2,0,1995,8,12
6,GSDOQQRPD,Western,1995-12-25,0.901911,historical drama explores pivotal event led am...,6,0.000000,0,0,1995,12,25
2,UBWUVIHEL,Adventure,1996-05-08,0.000000,lost civilization rediscovered deep within ama...,4,0.550468,0,0,1996,5,8
21,RQMTIJYHD,Documentary,1997-08-15,0.338390,historical drama depicting pivotal moment nati...,5,1.543080,0,0,1997,8,15
1,CORCILSLF,Documentary,1999-08-05,0.712060,documentary shed light devastating effect clim...,3,0.000000,1,1,1999,8,5
22,GEGWEHHWS,Thriller,2001-12-06,0.774903,world ruled machine lone rebel fight free huma...,0,-0.168031,1,0,2001,12,6
23,QSUPSGILT,Sports,2002-02-04,0.608743,suspenseful horror film leave edge seat,2,0.600488,0,0,2002,2,4
8,XVHGPYBBL,Mystery,2002-06-19,0.892121,series strange event plague small town group t...,2,1.050696,0,0,2002,6,19
13,MCCASXIDK,Crime,2003-12-26,0.981447,young woman discovers posse magical ability mu...,6,-1.470168,1,0,2003,12,26
20,QTIYFBNML,Documentary,2005-08-02,0.703968,documentary explores cutthroat world competiti...,5,-0.215834,1,0,2005,8,2
17,CDRJDLRCH,History,2005-12-14,0.963064,group musician different background form band ...,3,-1.420693,2,1,2005,12,14
16,TKBEDDCMZ,Thriller,2009-06-26,0.664366,group college student get bargained participat...,4,0.210289,0,0,2009,6,26
4,WMLWHTAMN,Fantasy,2011-10-28,0.316919,young inventor build time machine embarks jour...,4,0.000000,0,0,2011,10,28
5,REKCPGLOJ,Comedy,2013-06-04,0.825428,heartwarming story dog brings two lonely peopl...,1,-0.602654,2,1,2013,6,4
19,IDFPFANWC,Fantasy,2015-11-20,0.907184,team explorer venture depth ocean uncover anci...,3,-1.005202,2,1,2015,11,20
10,VZTEXQGBB,Comedy,2018-01-22,0.860455,talented chef travel world collecting culinary...,3,1.586268,1,0,2018,1,22
7,VMIYHZNZJ,Adventure,2018-03-23,0.941643,postapocalyptic world overrun zombie group sur...,1,0.219139,1,0,2018,3,23
3,CGHMHKJHH,Fantasy,2018-07-21,0.845497,young inventor build time machine embarks jour...,3,-1.311414,1,1,2018,7,21
9,NNZFDYZTH,History,2019-02-16,0.907905,group musician different background form band ...,5,-0.020770,1,0,2019,2,16
28,ZZIBKYJID,Thriller,2019-05-02,0.386613,suspenseful thriller family trapped home dange...,2,0.000000,0,0,2019,5,2

In [43]:
test_18=DataFrameModifier.delete_column(data,"Shooting Location")#delete specific column
test_18

,Movie Id,Genre,Release Date,Rating,Summary,Budget in USD,Awards,Popular,Release Date_year,Release Date_month,Release Date_day
0,TOYHANVUR,Horror,1985-07-07,0.984796,group college student get bargained spend week...,-1.097347,2,1,1985,7,7
1,CORCILSLF,Documentary,1999-08-05,0.712060,documentary shed light devastating effect clim...,0.000000,1,1,1999,8,5
2,UBWUVIHEL,Adventure,1996-05-08,0.000000,lost civilization rediscovered deep within ama...,0.550468,0,0,1996,5,8
3,CGHMHKJHH,Fantasy,2018-07-21,0.845497,young inventor build time machine embarks jour...,-1.311414,1,1,2018,7,21
4,WMLWHTAMN,Fantasy,2011-10-28,0.316919,young inventor build time machine embarks jour...,0.000000,0,0,2011,10,28
5,REKCPGLOJ,Comedy,2013-06-04,0.825428,heartwarming story dog brings two lonely peopl...,-0.602654,2,1,2013,6,4
6,GSDOQQRPD,Western,1995-12-25,0.901911,historical drama explores pivotal event led am...,0.000000,0,0,1995,12,25
7,VMIYHZNZJ,Adventure,2018-03-23,0.941643,postapocalyptic world overrun zombie group sur...,0.219139,1,0,2018,3,23
8,XVHGPYBBL,Mystery,2002-06-19,0.892121,series strange event plague small town group t...,1.050696,0,0,2002,6,19
9,NNZFDYZTH,History,2019-02-16,0.907905,group musician different background form band ...,-0.020770,1,0,2019,2,16
10,VZTEXQGBB,Comedy,2018-01-22,0.860455,talented chef travel world collecting culinary...,1.586268,1,0,2018,1,22
11,XSPIAJYJM,Fantasy,1985-11-19,0.808323,team explorer venture depth ocean uncover anci...,-1.368792,2,0,1985,11,19
12,VFXKEREAP,Fantasy,1992-07-29,0.686785,team explorer venture depth ocean uncover anci...,1.462452,1,1,1992,7,29
13,MCCASXIDK,Crime,2003-12-26,0.981447,young woman discovers posse magical ability mu...,-1.470168,1,0,2003,12,26
14,MTUOJCLUA,Horror,1989-03-03,0.563691,group teenager explore seemingly abandoned hou...,-1.353100,0,0,1989,3,3
15,DBQTOTADE,Drama,1990-10-23,0.766111,heartwarming animated film teach valuable life...,1.253712,1,1,1990,10,23
16,TKBEDDCMZ,Thriller,2009-06-26,0.664366,group college student get bargained participat...,0.210289,0,0,2009,6,26
17,CDRJDLRCH,History,2005-12-14,0.963064,group musician different background form band ...,-1.420693,2,1,2005,12,14
18,WWAZEJQVI,Drama,1995-08-12,0.992352,documentary film shed light social environment...,-1.119605,2,0,1995,8,12
19,IDFPFANWC,Fantasy,2015-11-20,0.907184,team explorer venture depth ocean uncover anci...,-1.005202,2,1,2015,11,20
20,QTIYFBNML,Documentary,2005-08-02,0.703968,documentary explores cutthroat world competiti...,-0.215834,1,0,2005,8,2
21,RQMTIJYHD,Documentary,1997-08-15,0.338390,historical drama depicting pivotal moment nati...,1.543080,0,0,1997,8,15
22,GEGWEHHWS,Thriller,2001-12-06,0.774903,world ruled machine lone rebel fight free huma...,-0.168031,1,0,2001,12,6
23,QSUPSGILT,Sports,2002-02-04,0.608743,suspenseful horror film leave edge seat,0.600488,0,0,2002,2,4
24,HOQMJQXBM,Science Fiction,1991-11-02,0.932399,heartwarming romantic comedy two people find l...,1.731015,1,0,1991,11,2
25,AAVHOBMRH,Comedy,1991-12-02,1.000000,heartwarming story dog brings two lonely peopl...,-0.415204,2,0,1991,12,2
26,AJGYZAZPD,Comedy,1991-09-18,0.886883,bumbling office worker accidentally becomes so...,0.000000,2,0,1991,9,18
27,DXEFEMEGB,Fantasy,1993-01-25,0.961396,group social medium influencers trapped desert...,1.361208,2,0,1993,1,25
28,ZZIBKYJID,Thriller,2019-05-02,0.386613,suspenseful thriller family trapped home dange...,0.000000,0,0,2019,5,2

In [45]:
test_19=ChangingValue.change_value(data,["Genre"],"Comedy","komik")#replace a specific value in a column with another value
test_19

c:\Users\habee\Downloads\pythub-final-edits\pythub-final-edits\pythub-main\data_preprocessing_lib\changing_value.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].replace(old_value, new_value, inplace=True)

,Movie Id,Genre,Release Date,Rating,Summary,Budget in USD,Awards,Popular,Release Date_year,Release Date_month,Release Date_day
0,TOYHANVUR,Horror,1985-07-07,0.984796,group college student get bargained spend week...,-1.097347,2,1,1985,7,7
1,CORCILSLF,Documentary,1999-08-05,0.712060,documentary shed light devastating effect clim...,0.000000,1,1,1999,8,5
2,UBWUVIHEL,Adventure,1996-05-08,0.000000,lost civilization rediscovered deep within ama...,0.550468,0,0,1996,5,8
3,CGHMHKJHH,Fantasy,2018-07-21,0.845497,young inventor build time machine embarks jour...,-1.311414,1,1,2018,7,21
4,WMLWHTAMN,Fantasy,2011-10-28,0.316919,young inventor build time machine embarks jour...,0.000000,0,0,2011,10,28
5,REKCPGLOJ,komik,2013-06-04,0.825428,heartwarming story dog brings two lonely peopl...,-0.602654,2,1,2013,6,4
6,GSDOQQRPD,Western,1995-12-25,0.901911,historical drama explores pivotal event led am...,0.000000,0,0,1995,12,25
7,VMIYHZNZJ,Adventure,2018-03-23,0.941643,postapocalyptic world overrun zombie group sur...,0.219139,1,0,2018,3,23
8,XVHGPYBBL,Mystery,2002-06-19,0.892121,series strange event plague small town group t...,1.050696,0,0,2002,6,19
9,NNZFDYZTH,History,2019-02-16,0.907905,group musician different background form band ...,-0.020770,1,0,2019,2,16
10,VZTEXQGBB,komik,2018-01-22,0.860455,talented chef travel world collecting culinary...,1.586268,1,0,2018,1,22
11,XSPIAJYJM,Fantasy,1985-11-19,0.808323,team explorer venture depth ocean uncover anci...,-1.368792,2,0,1985,11,19
12,VFXKEREAP,Fantasy,1992-07-29,0.686785,team explorer venture depth ocean uncover anci...,1.462452,1,1,1992,7,29
13,MCCASXIDK,Crime,2003-12-26,0.981447,young woman discovers posse magical ability mu...,-1.470168,1,0,2003,12,26
14,MTUOJCLUA,Horror,1989-03-03,0.563691,group teenager explore seemingly abandoned hou...,-1.353100,0,0,1989,3,3
15,DBQTOTADE,Drama,1990-10-23,0.766111,heartwarming animated film teach valuable life...,1.253712,1,1,1990,10,23
16,TKBEDDCMZ,Thriller,2009-06-26,0.664366,group college student get bargained participat...,0.210289,0,0,2009,6,26
17,CDRJDLRCH,History,2005-12-14,0.963064,group musician different background form band ...,-1.420693,2,1,2005,12,14
18,WWAZEJQVI,Drama,1995-08-12,0.992352,documentary film shed light social environment...,-1.119605,2,0,1995,8,12
19,IDFPFANWC,Fantasy,2015-11-20,0.907184,team explorer venture depth ocean uncover anci...,-1.005202,2,1,2015,11,20
20,QTIYFBNML,Documentary,2005-08-02,0.703968,documentary explores cutthroat world competiti...,-0.215834,1,0,2005,8,2
21,RQMTIJYHD,Documentary,1997-08-15,0.338390,historical drama depicting pivotal moment nati...,1.543080,0,0,1997,8,15
22,GEGWEHHWS,Thriller,2001-12-06,0.774903,world ruled machine lone rebel fight free huma...,-0.168031,1,0,2001,12,6
23,QSUPSGILT,Sports,2002-02-04,0.608743,suspenseful horror film leave edge seat,0.600488,0,0,2002,2,4
24,HOQMJQXBM,Science Fiction,1991-11-02,0.932399,heartwarming romantic comedy two people find l...,1.731015,1,0,1991,11,2
25,AAVHOBMRH,komik,1991-12-02,1.000000,heartwarming story dog brings two lonely peopl...,-0.415204,2,0,1991,12,2
26,AJGYZAZPD,komik,1991-09-18,0.886883,bumbling office worker accidentally becomes so...,0.000000,2,0,1991,9,18
27,DXEFEMEGB,Fantasy,1993-01-25,0.961396,group social medium influencers trapped desert...,1.361208,2,0,1993,1,25
28,ZZIBKYJID,Thriller,2019-05-02,0.386613,suspenseful thriller family trapped home dange...,0.000000,0,0,2019,5,2